  <% content_for :title, "Bookmarked" %>

  <div class="text-center">
  <% @activities.each do |activity| %>
    <div class="bookmark-card">
      <%= render :partial=>"bookmark", :locals=>{activity: activity} %>
    </div>
  <% end %>
  </div>